

/* Style body website */
.body {
    background-color: white;
    margin: 0%;
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Style judul utama website */
.judul-besar {
        text-align: center;
        background-color:purple;
        font-family: Arial, Helvetica, sans-serif;
        color: azure;
        padding: 10px;
        margin: 0px;
        justify-content: center;
        flex-wrap: nowrap;
        display: flex;
        font-size: large;
}

/* Paragraf welcome to katik */
.welcome-page {
    padding: 20px;
    border: 1px;
    margin-top: none;
}
#welcome {
    text-align: center;
    margin-top: 0px;
}
.intro {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
/* ini batasnya */

/* Tombol navigasi */
.link {
    overflow: hidden;
    align-content: center;
    justify-self: anchor-center;
    margin-top: 20px;
}
#link1 {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    scroll-behavior: smooth;
}
#link1:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: plum;
    color: white
}
#link2 {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color:purple;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
}
#link2:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: plum;
    color: white
}
/* ini batasnya */

/* Style judul */
.title {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 30px;
    border-radius: 10px; 
}
#title-counting {
    margin: 10px;
    margin-bottom: 10px;
}
/* ini batasnya */


/* Style content */
.main-content {
    background-color: yellow;
    padding: 30px;
    border: 1px;
}
/* ini batasnya */

/* Style asset gambar di webiste */
.gambar-bangun-datar {
    display: block;
    margin: 0 auto;
    width: 50%;
}
#keterangan-gambar-persegi {
    text-align: center;
    margin-top: 1%;
}
#keterangan-gambar-persegi-panjang {
    text-align: center;
    margin-top: 1%;
}
/* ini batasnya */

/* Style rumus */
.rumus {
    text-align: center;
}
/* ini batasnya */

/* Style section */
.section-page {
    background-color: purple;
    margin: 10px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}
.section-hitungan {
    text-align: center;
    background-color: yellow;
    border: 1px;
    color: black;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}
/* ini batasnya */

/* Style kalimat hasil calculating */
.result {
    margin-bottom: 0%;
}
/* ini batasnya */

/* Style tombol */
button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: green;
}

button:hover{
background-color: purple;
cursor: pointer;
}
.reset-button {
    background-color: red;
    color: white;}
.input {
    width: 40%;}
/* ini batasnya */

/* Style media querry */
@media screen and (max-width: 550px) {
    .body {
        font-size: 14px;
        width: auto;
    }
    .link {
        overflow: hidden;
        align-content: center;
        justify-self: anchor-center;
        margin-top: 10%;
        display: grid;
    }
    .section-hitungan {
        text-align: center;
        background-color: yellow;
        border: 1px;
        color: black;
        padding: 10px;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;}}
/* ini batasnya */